name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Lint with flake8
      run: flake8 --max-line-length=90 .

    - name: Run tests
      run: pytest

    - name: Build Docker image
      run: docker build -t flask-app .
